annotated-types==0.6.0
autocommand==2.2.2
certifi==2024.2.2
charset-normalizer==3.3.2
compynator==0.1.2
deprecation==2.1.0
docker==7.0.0
exceptiongroup==1.2.0
Flask==3.0.2
gunicorn==20.0.4
idna==3.6
inflect==7.0.0
iniconfig==2.0.0
irc==20.3.1
jaraco.collections==5.0.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jaraco.logging==3.3.0
jaraco.stream==3.0.3
jaraco.text==3.12.0
more-itertools==10.2.0
packaging==23.2
parsy==2.1
pluggy==1.4.0
psycopg2==2.9.9
pydantic==2.6.3
pydantic-core==2.16.3
pytest==8.0.2
pytz==2024.1
requests==2.31.0
SQLAlchemy==2.0.29
Flask-SQLAlchemy==3.1.1
tempora==5.5.1
testcontainers==3.7.1
tomli==2.0.1
typing-extensions==4.10.0
urllib3==2.2.1
wrapt==1.16.0
