{% extends 'base.html' %}

{% block title %}Bot Commands{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Bot Commands</h1>
    <input class="form-control mb-3" id="commandSearch" type="text" placeholder="Search commands...">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Command</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody id="commandsList">
        {% for command in commands %}
        <tr>
            <td><strong>{{ command.name }}</strong></td>
            <td>{{ command.help }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
document.getElementById('commandSearch').addEventListener('input', function() {
    var searchQuery = this.value.toLowerCase();
    var tableRows = document.getElementById('commandsList').getElementsByTagName('tr');

    for (var i = 0; i < tableRows.length; i++) {
        var currentRow = tableRows[i].textContent.toLowerCase();
        if (currentRow.includes(searchQuery)) {
            tableRows[i].style.display = "";
        } else {
            tableRows[i].style.display = "none";
        }
    }
});

</script>

{% endblock %}